* {
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.hidden {
	display: none;
	visibility: hidden;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.container {
	padding: 0 20px;
}
header {
	padding: 20px 0 10px;
	background-size: cover;
}
.logo {
	float: left;
	text-align: left;
}
.logo img {
	max-height: 120px;
}
.content {
	margin-top: 41px;
}
.search {
	margin: 180px auto 0;
	width: 85%;
	max-width: 800px;
}
form {
	border: 1px solid #b5b5b5;
	height: 48px;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0px 3px 6px #00000029;
}
.searchBox > input {
	width: 83%;
	border: none;
	padding: 1% 2%;
	height: 72%;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
}
.searchBox > button {
	display: inline-block;
	width: 12%;
	border: none;
	height: 99%;
	margin: 0;
	padding: 0;
	background:transparent;
}

.bottom-widget {
	position:absolute;
	bottom: 30px;
	right: 0;
	font-size: 16px;
}

.bottom-widget .container {
	padding: 15px;
}

footer {
	position:absolute;
	bottom: 0;
	font-size: 16px;
}
footer .container {
	padding: 15px;
}

footer a, footer a:visited {
	color: gray !important;
	margin-right: 10px;
}

.links {
	margin: 70px auto 0;
	text-align: center;
}

@media screen and (max-width: 992px) {
	.container {
		padding: 0 15px;
	}
	.logo {
		text-align: center;
		width: 100%;
		margin-bottom: 1%;
	}
	.search {
		margin: 85px auto 22px;
		width: 94%;
		max-width: 860px;
	}
	#widget {
		position: absolute;
		left: 0;
		margin: 0 !important;
	}
}

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

#widget {
	float: right;
	height: 100%;
	width: 170px;
}

#weather .small {
	font-size: 16px;
}

#weather .widget-top {
	width: 100%;
	height: 60px;
	font-size: 22px;
}

#weather .widget-bottom {
	width: 100%;
	height: 20px;
	font-size: 14px;
	text-align: center;
}

#weather .widget-content {
	height: 100%;
	float: left;
}

#weather .widget-content-left {
	text-align: center;
	display: grid;
	place-content: center;
	width: 30%;
}

#weather .widget-content-right {
	width: 67%;
}

#weather .temp {
	font-size: 32px;
	line-height: 64px;
}

#clock {
	margin-right: 30px;
}

#clock .time {
	font-size: 32px;
	text-align: right;
}

#clock .date {
	font-size: 14px; 
}

#clock .time .small {
	font-size: 12px;
}

.widget-buttons {
	margin-top: 10px;
	text-align: center;
}

.widget-more .container {
	border-radius: 8px;
	border: 1px solid #dfe1e5;
	box-shadow: none;
	width: auto;
	padding: 10px;
	margin: 0;
	position:absolute;
	right: 30px;
	background: white;
	margin-top: 20px;
	text-shadow: none;
	color: black;
} 

.widget-more h2 {
    margin: 10px;
    font-size: 16px;
}

.widget-more .container .hourly {
	overflow-x: scroll;
	max-width: 340px;
}

.widget-more ::-webkit-scrollbar {
  height: 10px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal{
	background: #d5d5d5;
	border-radius: 10px;
}

.widget-more ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget-more ul li {
    display: table-cell;
    margin-right: 20px;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    color: #878787 !important;
    text-align: center;
    padding-bottom: 10px;
}

.widget-more ul li .small {
    font-size: 11px !important;
}

.widget-more ul li:last-child {
	margin: 0;
}

footer a, footer a:visited { text-shadow: 0px 0px 3px #444444; color: white !important; } 
footer .container:hover { background: #0000004b; } 
footer .container { transition: 1s } 
#clock, #widget { text-shadow: 0px 0px 3px #444444; color: white; } 
.widget:hover {background: #ffffff; } 
.widget { transition: 1s; background: #ffffff40; width: 300px; margin: auto; border-radius: 35px;} 
.searchBox > input {width: 100%;}
.bg { position: absolute; z-index: -1; top: 0; left: 0; background-position: center; background-repeat: no-repeat; background-size: cover; height: 100vh; width: 100vw; overflow: hidden; -webkit-animation: fade 1.5s ; animation: fade 1.5s ; } @-webkit-keyframes fade { from {opacity: 0.2;} to {opacity: 1;} } @keyframes fade { from {opacity: 0.2;} to {opacity: 1;} }
